# macOS
.DS_Store

# caches
__pycache__/
*.pyc
.pytest_cache/
.hypothesis/

# build artifacts
build/
dist/
*.egg-info/
src/*.egg-info/

# venv
.venv/

# sphinx cache (on garde le html, mais pas les doctrees)
doc/build/doctrees/
doc/build/.doctrees/
doc/build/environment.pickle

